################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/HelloMongo/MongoTest/.vs/MongoTest/v15/Server/sqlite3
