@page
@model MongoTest.Pages.InsertModel
@{
    ViewData["Title"] = "Insert";
}

<h2>Insert</h2>

<form method="post">
    <input name="TodoId" />
    <input name="TodoName"/>

    <input type="submit"/>
</form>
